{% extends "base.html.twig" %}

{% block title %} Category Detail {% endblock %}

{% block body %}
<style>
    body {
        width: 80%;
        margin: 20px auto;
    }
</style>
 
<div class="container-fluid">
    <div class="container">
        {% for flash in app.flashes("Info") %}
            <p class="alert alert-success"> {{ flash }}
        {% endfor %}
        {% for flash in app.flashes("Error") %}
            <p class="alert alert-danger"> {{ flash }}
        {% endfor %}
    </div>
    <a class="btn btn-outline-primary" href="{{ path ('category_index') }}">Back</a>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"> {{ category.id }} </td>
                <td scope="row"> {{ category.name }} </td>
                <td scope="row">  
                    {% for product in category.products %}
                           <a href="{{ path('product_detail', {'id' : product.id }) }}"> {{ product.name }} </a>
                            <br>
                    {% endfor %}
                </td>
                <td>  
                    <a class="btn btn-info" href="{{ path ('category_update', {'id' : category.id} )}}">Update</a>
                    <a class="btn btn-warning" href="{{ path ('category_delete', {'id' : category.id} )}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
