{% extends "base.html.twig" %}

{% block title %} Product List {% endblock %}

{% block body %}
<style>
    body {
        width: 80%;
        margin: 20px auto;
    }
</style>
 
<div class="container-fluid">
    <a class="btn btn-outline-primary" href="{{ path ('product_index')}}">Back to list</a>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"> {{ product.id }} </td>
                <td scope="row"> {{ product.name }} </td>
                <td scope="row"> {{ product.brand }} </td>
                <td scope="row"> {{ product.price }} USD </td>
                <td scope="row"> {{ product.quantity }} </td>
                <td scope="row">
                         <a href="{{ path ('category_detail', {'id' : product.category.id} ) }} "> 
                                           {{ product.category.name }} 
                         </a>
                </td>
                <td>
                    <a class="btn btn-info" href="{{ path ('product_detail', {'id' : product.id} )}}">Detail</a>   
                    <a class="btn btn-info" href="{{ path ('product_update', {'id' : product.id} )}}">Update</a>
                    <a class="btn btn-warning" href="{{ path ('product_delete', {'id' : product.id} )}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
